[submodule "kikuyu"]
	path = kikuyu
	url = git@github.com:gthvn1/kikuyu.git
[submodule "orangutan"]
	path = orangutan
	url = git@github.com:gthvn1/orangutan.git
[submodule "redhowler"]
	path = redhowler
	url = git@github.com:gthvn1/redhowler.git
[submodule "zanzibar"]
	path = zanzibar
	url = git@github.com:gthvn1/zanzibar.git
